/* background behind the logo*/
#header {
    background: #000000;
    border-color: #ffffff;
}

/* Background color of the menu */
#sidebar {
  background-color: #000000;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #000000;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: #ef0e0e;
}
a:hover {
   color: #ef0e0e;
}
